# part=xc7a35tcsg324-1
# part=xc7a100tcsg324-1
part=xc7a35ticpg236-1L

[hls]
flow_target=vivado
package.output.format=rtl
package.output.syn=false
syn.top=cfu_hls
syn.file=cfu_hls.c
clock=180MHz
syn.rtl.reset=none
syn.rtl.fsm_encoding=auto
syn.directive.interface=cfu_hls rslt_o mode=ap_none
syn.interface.clock_enable=0
syn.rtl.register_all_io=1